/*SECTION-PORTFOLIO*/
.portfolio-con{
    display: flex;
    flex-direction: column;
    padding-top: 120px;
    padding-bottom: 120px;
}
.div-container{
    display: flex;
    flex-direction: column;
}
.portfolio-ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}
.portfolio-li{
    width: calc((100% - 48px)/3);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
}
.portfolio-div{
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}
.section-portfolio{
    margin-bottom: 72px;
    font-family: "Roboto", sans-serif;
        font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
        text-transform: capitalize;
}

.portfolio-list{
    margin-bottom: 8px;
    font-family: "Roboto", sans-serif;
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2e2f42;
}
.portfolio-desc{
    font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
}
.port-div{
    position: relative;
    overflow: hidden;

}
.port-overlay{
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transform: translateY(100%);
    background-color:#4d5ae5;
    color:#f4f4fd;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding: 40px 32px;    
}
.portfolio-li:hover{
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}
.port-div:hover .port-overlay{
    transform: translateY(0);
    
}
/*FOOTER*/
.finish{
    padding: 100px 0;
    background-color: #2e2f42;
}
.footer-blue{
    display: inline-block;
        margin-bottom: 16px;
    font-family: "Raleway", sans-serif;
        font-weight: 700;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #4d5ae5;
}
.logo-footer{
    font-family: "Raleway", sans-serif;
        font-weight: 700;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #f4f4fd;
}
.footer-slogan{
    font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #f4f4fd;
        margin: 0;
        max-width: 264px;
}
.footer-con{
    display: flex;
    align-items: baseline;

}
.footer-con-logo{
    margin-right: 120px;
}

.footer-social-media{

}
.footer-media{
    font-family: "Roboto", sans-serif;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #fff;
        margin-bottom: 16px;
}
.footer-list{
    display: flex;
    gap: 16px;
}
.footer-item{
    width: 40px;
    height: 40px;
    
}
.footer-link{
width: 100%;
height: 100%;
background-color: #4d5ae5;
border-radius: 50%;
display: flex;
align-items: center;
justify-content: center;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
}
.footer-link:hover,
.footer-link:focus{
    background-color: #31d0aa;
}
.footer-icon{
    fill: #f4f4fd;

}
.footer-link:focus svg,
.footer-link:hover svg{
    fill: #f4f4fd;
}
.footer-sub{
    display: flex;
    flex-direction: column;
    margin-left: auto;
}
.footer-sub-p{
    font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #fff;
        margin-bottom: 16px;
}
.footer-form{
    display: flex;
    gap: 24px;
}
.footer-input{
    width: 264px;
    height: 40px;
    background-color: transparent;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    padding-left: 16px;
    border: 1px solid #fff;
    border-radius: 4px;
    color: #fff;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-input:focus{
    border-color: #31d0aa;
    outline: 0;
}
.footer-input::placeholder{
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    padding-left: 16px;
    color: #FFFFFF;
}
.footer-button{
    display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        min-width: 165px;
        border-radius: 4px;
        padding: 8px 24px;
        background: #4d5ae5;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.04em;
        cursor: pointer;
        border: none;
        color: #fff;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-send-div{
    display: flex;
    flex-direction: row;
    gap: 24px;
}
.submit-send{
    fill: #fff;
    margin-left: 16px;
}
.footer-button:focus{
    background-color: #404bbf;
}
/* Modal */
.backdrop{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(46, 47, 66, 0.4);
    z-index: 999;
    display: flex;
    justify-content: center;
   align-items: center;  
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
     visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);

}
.backdrop.is-open{
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}
.modal{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    width: 408px;
    height: 80%;
    min-height: 584px;
    overflow: auto;
    padding: 72px 24px 24px 24px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.2);
    background-color: #fcfcfc;
    border-radius: 4px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button-close{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    padding: 0;
    background-color: #e7e9fc;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    line-height: 0;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    cursor: pointer;
}

.modal-close{
    fill: #2e2f42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button-close:hover,
.button-close:focus{
    background-color: #404BBF;
    border: 0;
}
.button-close:hover .modal-close,
.button-close:focus .modal-close{

    fill: #fff;
}

.callback{
    font-family: "Roboto", sans-serif;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
        margin-bottom: 16px;
}
.form-div{
    display: flex;
    flex-direction: column;
    margin-bottom: 8px;

}
.form-label{
    display: block;
    font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.04em;
        color: #8e8f99;
        margin-bottom: 4px;
}
.form-input{
    width: 100%;
    height: 40px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding-left: 38px;
    outline: transparent;
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.04em;
        color: #111;
        transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-input:focus{
    border-color: #4d5ae5;
    outline: none;
}
.input-div{
position: relative;
}
.form-input-icon{
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
    stroke: #2e2f42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-div-checkbox{
    margin-bottom: 24px;
}
.form-label-checkbox{
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.04em;
        color: #8e8f99;
}
.form-input:focus + .form-input-icon{
    fill: #4d5ae5;
}
.form-comment{
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.04em;
        color: rgba(46, 47, 66, 0.4);
    width: 100%;
    height: 120px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    padding: 8px 16px;
    background-color: transparent;
    outline: transparent;
resize: none;
transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.comment-div{
    margin-bottom: 16px;
}
.form-comment::placeholder{
        color: rgba(46, 47, 66, 0.4);
}
.form-comment:focus{
    border-color: #4d5ae5;
    outline: none;
}
.form-custom-checkbox{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 16px;
    height: 16px;
    border-radius: 2px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    cursor: pointer;
    fill: transparent;
    margin-right: 8px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
    border 250ms cubic-bezier(0.4, 0, 0.2, 1), 
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-checkbox:checked + .form-label-checkbox > .form-custom-checkbox{
    background-color: #404bbf;
    border: 0;
    fill: #f4f4fd;
}
.form-policy-link{
    text-decoration: underline;
}
.accent-color{
    color: #4d5ae5;
}
.submit-button{
    display: block;
    text-align: center;
    min-width: 169px;
    padding: 16px 32px;
    margin-bottom: 24px;
    margin-left: 96px;
    border: none;
    background: #4d5ae5;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    outline: none;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}